*{
	margin: 0;
	padding: 0;
}

body{
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container{
	position: relative;
	width: 40%;
	height: 40%;
	background-color: black;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	overflow: hidden;
	/* z-index: 10; */
	
}

.button{
	position: absolute;
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(37, 60, 122, 1);
	clip-path: polygon(0 0, 100% 0, 50% 100%);
	transition: all 2s;
	transform-origin: 50% bottom;
	/* transform: rotate(90deg); */
}

/* .shape{
	position: absolute;
	width: 0px;
	height: 0px;
	border-width: 20vh 10vh 0;
	border-color: coral transparent;
	border-style: solid;
	z-index: -999;
} */

.button:hover{
	background-color: khaki !important;
	/* transform: translateY(100px) !important; */
}


