*{
	margin: 0;
	padding: 0;
}

body{
	width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container{
	position: relative;
	width: 40%;
	height: 40%;
	background-color: black;
	display: flex;
	/* border-radius: 50%; */
	justify-content: center;
	overflow: hidden;
	/* z-index: 10; */

}

.polygon{
	position: absolute;
	width: 50%;
	height: 20vh;
	/* background-color: rgba(76, 172, 172, 1); */
	/* background-color: brown; */
	transform: rotate(45deg);
	transform-origin: 50% bottom;
}

.container .polygon:nth-child(2){
	
	transform: rotate(100deg);
}

.button{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(37, 60, 122, 0.4);
}

.shape{
	position: absolute;
	/* box-sizing: border-box; */
	width: 0px;
	height: 0px;
	/* background-color: cadetblue; */
	border-width: 20vh 10vh 0;
	border-color: coral transparent;
	border-style: solid;
	/* top: 0; */
	z-index: -999;
	
}

.button:hover ~.shape{
	border-color: rgb(21, 199, 169) transparent;
	
}


