* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1rem; */
}

html,
body {
    /* overflow: hidden; */
    position: relative;
}

:root {
    --tool-window-bg: rgb(235, 234, 234);
}

.hide {
    display: none !important;
}

.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.sunken {
    box-shadow: rgb(223, 222, 222) 0px 0px 6px 1px inset;
    background-color: rgba(233, 233, 233, 0.25);
    border-radius: 6px;
}

button {
    border: none;
    cursor: pointer;
}

.button {
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    cursor: pointer;
    border-radius: 0.4rem;
    transition-property: border-color, color, background-color;
    transition-duration: 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.button:hover {
    background-color: black;
    color: white;
    border-color: var(--tool-window-bg);
}

.toMiddle {
    /* min-height: 50%; */
    top: 51%;
    height: 49%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.halfHeight {
    height: 49%;
}

.blur {
    filter: blur(2.3px);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    /* background-color: rgb(238, 233, 233); */
    /* background: linear-gradient(to right top, #65dfc9,  #6cdbef); */
    /* background-color: rgb(26, 224, 191); */
}

h2 {
    font-size: 1.3rem;
}

.container {
    position: relative;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wheel {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 1); */
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
    border: 2px rgba(255, 255, 255, 0.5) solid;
    transition: transform cubic-bezier(0, 0.99, 0.44, 0.99);
    transition-duration: 5s;
}

#wheel .sec {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50.4%;
    /* align-self: center; */
    transform-origin: 50% bottom;
    transition: transform 2s, background-color 1s;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.sec p {
    position: absolute;
    color: var(--tool-window-bg);
    transform: rotate(-90deg);
    transition: color 0.8s;
}

/* .sec:hover > p {
    color: white;
} */

#start {
    position: absolute;
    width: 39px;
    height: 39px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 0px;
    cursor: pointer;
    user-select: none;
    align-self: center;
}

#start::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 8px 15px 8px;
    border-color: transparent transparent #fff transparent;
    top: -0.6rem;
}

#start::after {
    position: absolute;
    content: "START";
    color: #ccc;
    z-index: 999;
    font: 9px "Exo 2", sans-serif;
    text-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#start .inner {
    width: 83%;
    height: 83%;
    border: none;
    position: absolute;
    border-radius: 50%;
    /* margin-left: 2%; */
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
        rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.5) 0 0 5px;
    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 1) 0%,
        rgba(234, 234, 234, 0.8) 100%
    );
    /* background-color: rgb(0, 59, 252); */
    transition: box-shadow 0.2s ease-out;
}

.startClick {
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
        rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.5) 0 0 1px !important;
}

#start .inner:focus {
    color: black;
}

@keyframes glow {
    /* from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
            0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073,
            0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
            0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6,
            0 0 80px #ff4da6;
    } */
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
            0 0 40px var(--c), 0 0 80px var(--c), 0 0 90px var(--c),
            0 0 100px var(--c), 0 0 150px var(--c);
    }

    0% {
        text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px var(--c),
            0 0 45px var(--c), 0 0 55px var(--c), 0 0 70px var(--c),
            0 0 80px var(--c);
    }
}

.glow::after {
    /* font-size: 80px !important; */
    color: #fff;

    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

#option {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 0.8s ease-in-out;
    border: none;
}

#option:hover {
    background-color: whitesmoke;
}

#option:hover div {
    background-color: whitesmoke;
    border-color: black;
}

.blink {
    animation: blink 1.5s ease-in-out infinite reverse;
}

.blinkDot {
    animation: blinkDot 1.5s ease-in-out infinite reverse;
}

@keyframes blink {
    50% {
        background-color: whitesmoke;
    }
}

@keyframes blinkDot {
    50% {
        background-color: black;
        border-color: black;
    }
}

#option div {
    /* position: absolute; */
    /* width: 17%; */
    width: 6px;
    height: 6px;
    border: 1.37px rgb(255, 255, 255, 0.7) solid;
    /* background-color: black; */
    border-radius: 50%;
    /* transition: background-color color 0.8s ease-in-out; */
}

#status {
    position: absolute;
    bottom: -2rem;
    font-size: 1.5rem;
}

#toolWindow {
    position: absolute;
    width: 90vw;
    height: 85vh;
    padding: 1rem;
    z-index: 9999;
    border-radius: 1rem;
    /* background-color: rgba(64, 224, 208, 0.8); */
    /* background: linear-gradient(
		to right bottom, 
		rgba(255, 255, 255, 0.6), 
		rgba(255, 255, 255, 0.3)
		); */
    background-color: var(--tool-window-bg);
    backdrop-filter: blur(25px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
    gap: 3% 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, calc(42vh - 4% - 2rem)) 9%;
}

form {
    overflow: hidden;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
}

form > div {
    margin: 0.8rem 5px;
}

#toolWindow form input:focus {
    outline-style: none;
}

#delayWrapper {
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#sliderWrapper {
    /* width: fit-content; */
    position: relative;
    margin-left: 1rem;
    display: flex;
    height: 1.3rem;
}

#delayValue {
    position: absolute;
    left: 0;
    top: -2rem;
    color: whitesmoke;
    background-color: #0075ff;
    width: 2rem;
    padding: 3.5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#delayValue::after {
    position: absolute;
    bottom: -7.3px;
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 0.7rem 0;
    border-color: #0075ff transparent;
    border-style: solid;
}

#delayWrapper p {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#wordInputContainer {
    margin: 0;
    padding: 5px 5px;
    /* box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.06); */
    /* box-shadow: 0 8px 8px -4px lightgray; */
}

#wordInputContainer > div {
    position: relative;
    height: 2rem;
    width: clamp(0px, 100%, 270px);
    margin-bottom: 1rem;
}

#wordInputContainer > div > div {
    position: absolute;
    width: clamp(0px, 100%, 270px);
    height: 2rem;
    border-radius: 6px;
    background-color: black;
    transition: 0.2s;
}

#wordInputContainer > div .wordInputWrapper {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.05) 2px 3px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px, rgba(0, 0, 0, 0.1) 0px 3px 1px;
}
#wordInputContainer > div .border {
    border-radius: 7px;
    transition: -webkit-clip-path 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
}

.slidingBorder {
    -webkit-clip-path: inset(0 0 0 0) !important;
    clip-path: inset(0 0 0 0) !important;
}

#wordInputContainer > div ul {
    z-index: 99;
    width: 100%;
    position: absolute;
    margin-top: 2.1rem;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-left: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px, rgba(0, 0, 0, 0.21) 0px 3px 1px;
}

#wordInputContainer > div ul li {
    padding: 0.35rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border-radius: inherit;
}
#wordInputContainer > div ul li:hover {
    background-color: white;
    color: black;
}
.wordInputWrapper input {
    width: calc(100% - 1rem);
    border: none;
    background: inherit;
    padding: 0 0.5rem;
}

.delete {
    border-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border: inherit;
    font-size: 1rem;
    background-color: inherit;
}

#dictContainer {
    grid-row: 1/3;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

#dictContainer > div {
    padding: 0 5px;
    min-height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#dictContainer > div:first-child {
    margin-bottom: 0.5rem;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    margin: 1rem 0;
    width: 52px;
    align-self: center;
    height: 1rem;
    /* background-color: aqua; */
}
.lds-ellipsis div {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 24px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 40px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(18px, 0);
    }
}

.word {
    font-style: italic;
    font-weight: 600;
    padding: 0.8rem 0;
}

ul > li {
    list-style: none;
}

ol {
    padding-left: 2rem;
}

.partOfSpeech {
    margin: 0.5rem 0 1rem 1rem;
    background-color: #ccc;
    display: inline-block;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
}

#fourth {
    display: flex;
    align-items: center;
}

#addButton {
    font-size: 0.9rem;
    width: 2rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-color: #0075ff;
    color: #0075ff;
}

#addButton:hover {
    background-color: #0075ff;
    color: var(--tool-window-bg);
}

#addButton:active ~ #wordNum {
    background-color: black;
    color: white;
}

#wordNum {
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    border-radius: 50%;
    margin-left: 1rem;
    text-align: center;
    border: 2px black solid;
    border-radius: 50px;
    /* color: white;
    background-color: black; */
    transition-property: background-color, color;
    transition-duration: 0.3s;
    /* transition: background-color .5s, color 10.5s; */
}

#confirmCancel {
    height: 2rem;
    grid-column: 2/3;
    place-self: end;
    align-self: center;
    display: flex;
}

#confirmCancel > .button {
    width: auto;
    padding: 0 2vw;
}

#done {
    margin-right: 6px;

    border: 2px #178f33 solid;
    color: #178f33;
}

#done:hover {
    border-color: var(--tool-window-bg);
    color: var(--tool-window-bg);
    background-color: #178f33;
}

@media (max-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    #dictContainer {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #toolWindow form {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .button,
    label {
        font-size: 0.9rem;
    }
    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    /* max-width pc */
    #toolWindow {
        min-width: calc(320px * 0.85);
    }

    #dictContainer {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #toolWindow form {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .button,
    label {
        font-size: 0.9rem;
    }
    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.8rem;
    }
}

@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #dictContainer {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    #toolWindow form {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .button,
    label {
        font-size: 0.9rem;
    }
    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.8rem;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
