*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

main{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(26, 224, 191);
}

.wheel{
	position: relative;
	width: calc(100vh / 2);
	height: calc(100vh / 2);
	border-radius: 50%;
	background-color: rgb(224, 222, 215);
	display: flex;
	align-items: center;

	overflow: hidden;
}

.wheel .sec{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 53%;
	height: 30%;
	background-color: rgb(248, 48, 215);
	clip-path: polygon(100% 50%, 0% 100%, 0% 0%);
	transform: translate(-3%);
	border-width: 0px;
	border-style: solid;
	border-color: chocolate;
	transform-origin: 100% 50%;
}

.wheel div:nth-child(1){
	transform: translate(-3%) rotate(90deg);
}